In [10]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [11]:
countries_file = "countries.csv"
countries_df = pd.read_csv(countries_file)
countries_df.head()

,Country (en),Country (de),Country (local),Country code,Continent,Capital,Population,Area,Coastline,Government form,Currency,Currency code,Dialing prefix,Birthrate,Deathrate,Url
0,Afghanistan,Afghanistan,افغانستان Afghānestān,AF,Asia,Kabul,37172386,652860,0,Presidential islamic republic,Afghani,AFN,93,33.2,6.6,https://www.laenderdaten.info/Asien/Afghanista...
1,Egypt,Ägypten,مصر Miṣr,EG,Africa,Cairo,98423595,1001450,2450,Presidential republic,Egypt Pound,EGP,20,27.1,5.9,https://www.laenderdaten.info/Afrika/Aegypten/...
2,Åland Islands,Ålandinseln,Ahvenanmaa,AX,Europe,Mariehamn,29013,1580,0,Autonomous region of Finland,Euro,EUR,358,0.0,0.0,https://www.laenderdaten.info/Europa/Aland/ind...
3,Albania,Albanien,Republika e Shqipërisë,AL,Europe,Tirana,2866376,28750,362,Parliamentary republic,Lek,ALL,355,11.9,7.7,https://www.laenderdaten.info/Europa/Albanien/...
4,Algeria,Algerien,الجزائر al-Dschazā’ir,DZ,Africa,Algiers,42228429,2381740,998,Presidential republic,Algerian Dinar,DZD,213,24.8,4.7,https://www.laenderdaten.info/Afrika/Algerien/...

In [12]:
megacities_file = "megacities.csv"
megacities_df = pd.read_csv(megacities_file)
megacities_df.head()

,City (en),City (de),Country (en),Country (de),Country code,Population,Latitude,Longitude,Region
0,Shanghai,Shanghai,China,China,CN,24152700,31.22222,121.45806,Shanghai Shi
1,Beijing,Peking,China,China,CN,21700000,39.90750,116.39723,Beijing
2,Istanbul,Istanbul,Turkey,Türkei,TR,15029200,41.01384,28.94966,Istanbul
3,Dhaka,Dhaka,Bangladesh,Bangladesch,BD,14543100,23.71040,90.40744,Dhaka
4,Lagos,Lagos,Nigeria,Nigeria,NG,14234000,6.45407,3.39467,Lagos

In [50]:
# Create a filtered dataframe from specific columns
countries_cols = ["Country (en)", "Country code", "Continent", "Capital", "Population", "Area", "Coastline", "Government form", "Currency", "Birthrate", "Deathrate"]
countries_transformed= countries_df[countries_cols].copy()

# Rename the column headers
countries_transformed = countries_transformed.rename(columns={"Country (en)": "country_name", "Continent":"continent", "Capital":"capital","Area":"area", "Coastline": "coastline", "Country code": "country_code", "Population":"country_population", "Government form": "government", "Currency": "currency", "Birthrate":"birthrate", "Deathrate":"deathrate"})
countries_transformed.head()

,country_name,country_code,continent,capital,country_population,area,coastline,government,currency,birthrate,deathrate
0,Afghanistan,AF,Asia,Kabul,37172386,652860,0,Presidential islamic republic,Afghani,33.2,6.6
1,Egypt,EG,Africa,Cairo,98423595,1001450,2450,Presidential republic,Egypt Pound,27.1,5.9
2,Åland Islands,AX,Europe,Mariehamn,29013,1580,0,Autonomous region of Finland,Euro,0.0,0.0
3,Albania,AL,Europe,Tirana,2866376,28750,362,Parliamentary republic,Lek,11.9,7.7
4,Algeria,DZ,Africa,Algiers,42228429,2381740,998,Presidential republic,Algerian Dinar,24.8,4.7

In [66]:
# Create a filtered dataframe from specific columns
megacities_cols = ["City (en)", "Country code", "Population", "Latitude", "Longitude", "Region"]
megacities_transformed= megacities_df[megacities_cols].copy()

# Rename the column headers
megacities_transformed = megacities_transformed.rename(columns={"City (en)": "city_name", "Country code": "country_code", "Population": "city_population", "Latitude":"latitude", "Longitude":"longitude", "Region":"region"})
megacities_transformed.head()

  city_name country_code  city_population  latitude  longitude        region
0  Shanghai           CN         24152700  31.22222  121.45806  Shanghai Shi
1   Beijing           CN         21700000  39.90750  116.39723       Beijing
2  Istanbul           TR         15029200  41.01384   28.94966      Istanbul
3     Dhaka           BD         14543100  23.71040   90.40744         Dhaka
4     Lagos           NG         14234000   6.45407    3.39467         Lagos

In [69]:
merged = pd.merge(countries_transformed, megacities_transformed, on="country_code", how="inner")

merged.head()

,country_name,country_code,continent,capital,country_population,area,coastline,government,currency,birthrate,deathrate,city_name,city_population,latitude,longitude,region
0,Afghanistan,AF,Asia,Kabul,37172386,652860,0,Presidential islamic republic,Afghani,33.2,6.6,Kabul,3678000,34.52813,69.17233,Kabul
1,Egypt,EG,Africa,Cairo,98423595,1001450,2450,Presidential republic,Egypt Pound,27.1,5.9,Cairo,9500000,30.06263,31.24967,Muhafazat al Qahirah
2,Egypt,EG,Africa,Cairo,98423595,1001450,2450,Presidential republic,Egypt Pound,27.1,5.9,Alexandria,4546000,31.21564,29.95527,Alexandria
3,Egypt,EG,Africa,Cairo,98423595,1001450,2450,Presidential republic,Egypt Pound,27.1,5.9,Giza,3628100,30.00808,31.21093,Al Jizah
4,Algeria,DZ,Africa,Algiers,42228429,2381740,998,Presidential republic,Algerian Dinar,24.8,4.7,Algiers,3415800,36.75250,3.04197,Alger

### Create database connection

In [54]:
connection_string = "postgres:Columbia2019@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{connection_string}')

In [74]:
# Confirm tables
engine.table_names()

['countries_transformed', 'megacities_transformed', 'merged']

### Load DataFrames into database

In [56]:
countries_transformed.to_sql(name='countries_transformed', con=engine, if_exists='append', index=False)

In [67]:
megacities_transformed.to_sql(name='megacities_transformed', con=engine, if_exists='append', index=False)

In [72]:
merged.to_sql(name='merged', con=engine, if_exists='append', index=False)